#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

MYSQL_PLUGIN_DIR = $(shell mysql_config --plugindir)

%:
	dh $@ 

override_dh_auto_configure:
	[ ! -d debian/mysql-source ] || rm -rf debian/mysql-source
	mkdir -p debian/mysql-source-5.5
	tar -zxf /usr/src/mysql/mysql-source-5.5.tar.gz -C debian/mysql-source-5.5
	# Ugly, eh?
	cp -a $(CURDIR)/debian/mysql-source-5.5/mysql-5.5/builddir/include/* $(CURDIR)/debian/mysql-source-5.5/mysql-5.5/include/
	dh_auto_configure -- --with-mysql=$(CURDIR)/debian/mysql-source-5.5/mysql-5.5 --libdir=$(MYSQL_PLUGIN_DIR)

override_dh_install:
	dh_install
	rm $(CURDIR)/debian/pinba-mysql-5.5/$(MYSQL_PLUGIN_DIR)/*.a
	rm $(CURDIR)/debian/pinba-mysql-5.5/$(MYSQL_PLUGIN_DIR)/*.la

override_dh_clean:
	rm -rf debian/mysql-source-5.5
	dh_clean
